!CONFIG { version="1.0" locale="utf-8" }

// Параметры подключения к базе данных (для удобства разработки, по умолчанию - рабочие параметры).
db {
    // Адрес хоста.
    host="127.0.0.1"
    // Алиас или путь и имя файла.
    alias="WebCenter"
    // Имя пользователя.
    user="WEB"
    // Пароль.
    password="xxxxxxxxx"
}

// Путь к сгеренированным обработчиком заявок ответам на заявки.
requestprocessor {
    answerspath="/work/WebRequestProcessor/answers"
}