@include keyframes(animate-in-scale-up) {
  0% {
    @include transform(scale(0));
  }
}

@mixin webcabinet-common {

  .valo-menu {
    border-right: none;

    .badgewrapper {
      position: relative;
      padding: 0 !important;
    }

    .v-ddwrapper {
      display: block;
    }
  }

  .valo-menu-item {
    overflow: hidden;
  }

  .valo-menu-title {
    line-height: 1.2;

    .test {
      background: #E04040;
      color: white;
      padding: 1px 3px;
      border-radius: 3px;
      font-size: 10px;
      display: block;
      text-align: center;

      span {
        text-align: center;
        //vertical-align: middle;
      }
    }
  }

  .v-menubar-user-menu:after {
    display: none;
  }

  .v-menubar-user-menu > .v-menubar-menuitem {
    display: block;
    padding: 0;
    max-width: 90%;
    margin: 0 auto;

    .v-menubar-menuitem-caption:after {
      margin-right: -1em;
    }

    img.v-icon {
      @if is-dark-color($valo-menu-background-color) {
        border: none;
      }
    }
  }

  .v-ui[width-range~="0-800px"] {
    .valo-menu-title {
      @include valo-gradient($color: $valo-menu-background-color);
      border-bottom-color: first-color(valo-border($color: $valo-menu-background-color));

      .test {
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
    .valo-menu .v-menubar-user-menu {
      color: inherit;
    }
    .v-menubar-user-menu > .v-menubar-menuitem {
      max-width: none;
      margin-right: .5em;

      .v-menubar-menuitem-caption:after {
        margin-right: 0;
      }
    }
  }

  .v-ui[width-range~="801px-"] {
    .valo-menu-title {
      background: rgba(black, 0.2);
      @include box-shadow(none);
      border-bottom: none;
    }
  }

  .v-ui[width-range~="801-1100px"] {
    .valo-menu-title {
      > .v-slot {
        width: 100%;

        > .v-label {
          text-align: center;
        }
      }
    }
  }

  .profile-window {
    max-height: round(30 * $v-font-size);
    width: round(45 * $v-font-size);
    max-width: 90%;

    .v-tabsheet-content > div > .v-scrollable > .v-layout {
      padding-left: $v-layout-margin-left;
      padding-right: $v-layout-margin-right;
    }

    @include width-range($max: 700px) {
      .profile-form > .v-expand {
        padding-left: 0 !important;

        > .v-slot {
          display: block;
          margin-left: 0 !important;
        }
        > .v-spacing {
          height: $v-layout-spacing-vertical;
        }
      }
    }

    @include width-range($max: 600px) {
      .v-tabsheet-content > div > .v-scrollable > .v-layout {
        padding-left: round($v-layout-margin-left / 2);
        padding-right: round($v-layout-margin-left / 2);
      }
      .v-formlayout > table,
      .v-formlayout > table > tbody,
      .v-formlayout-row {
        display: block;
      }
      .v-formlayout > table > tbody {
        .v-formlayout-captioncell,
        .v-formlayout-errorcell,
        .v-formlayout-contentcell {
          display: inline-block;
          height: auto;
        }
        .v-formlayout-captioncell,
        .v-formlayout-errorcell {
          border-bottom: none;
          line-height: 1;
          padding-left: 0;
          padding-top: $v-layout-spacing-vertical;
          text-align: left;
        }
        .v-caption-h4 {
          height: 0;
        }
        .v-label-h4 {
          position: static;
        }
        .v-horizontallayout {
          height: auto !important;
        }
      }
    }
  }

  .unitview-header {
    //padding-bottom: $view-padding;
    width: 100%;
    //text-align: right;
    white-space: normal;

    @include width-range($max: 700px) {
      text-align: left;

      > .v-slot {
        display: block;
      }
    }

    .unitview-toolbar {
      white-space: normal;

      //> .v-spacing {
      //  height: round($v-unit-size / 4);
      //}
    }
  }

  .v-caption.v-caption-caption-on-left {
    display: inline-block;
    vertical-align: middle;
    line-height: 37px;
    margin-right: $v-layout-spacing-horizontal;
  }

  // iOS7 & iOS8 status bar needs more space
  .v-ios7,
  .v-ios8 {
    .v-ui {
      @include box-sizing(border-box);
      padding-top: 20px;
      background-color: $valo-menu-background-color;

      > .v-widget {
        position: relative !important;
      }
    }
    .valo-menu-title {
      padding-top: 10px;
    }
    .unitview-content {
      border-top-left-radius: $v-border-radius;
      background-color: $v-app-background-color;
    }
  }

  .v-ios7 & .v-ui[width-range~="0-800px"],
  .v-ios8 & .v-ui[width-range~="0-800px"] {
    padding-top: 20px + $v-unit-size;

    .v-loading-indicator {
      top: 20px + $v-unit-size - 3px;
      height: 3px;
    }

    .valo-menu-title {
      height: 20px + $v-unit-size !important;
      padding-top: 20px;
    }
    .valo-menu-toggle,
    .user-menu {
      margin-top: 20px;
    }
    .valo-menuitems {
      top: 20px + $v-unit-size;
    }
    .unitview-content {
      border-radius: 0;
    }
  }

  .v-grid-header {
    .v-grid-cell {
      text-align: center;
      line-height: $xv-row-height;
      height: $xv-row-height;
      padding: 0 5px;
      .v-grid-column-header-content {
        line-height: inherit;
      }
    }
    .sort-asc, .sort-desc {
      padding-right: 16px; // Отступ для заголовка при индикаторе сортировки.
    }
    .sort-asc:after, .sort-desc:after {
      right: 6px; // Отступ для индикатора сортировки.
    }
  }
  .v-grid-body .v-grid-cell {
    font-size: 14px;
    line-height: $xv-row-height;
    height: $xv-row-height;
    padding: 0 5px;
  }
  .v-grid-footer {
    .v-grid-cell {
      text-align: center;
      line-height: $xv-row-height;
      height: $xv-row-height;
      padding: 0 5px;
      .v-grid-column-footer-content {
        line-height: inherit;
      }
    }
  }

  .v-filterselect-suggestpopup {
    font-size: 15px;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .xm-tooltip, .xm-tooltip .xm-arrow:after {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    border: 2px solid white;
  }

  .xm-tooltip {
    pointer-events: none;
    opacity: 1;
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    //text-transform: uppercase;
    -webkit-box-shadow: 0 0 7px black;
    -moz-box-shadow: 0 0 7px black;
    box-shadow: 0 0 7px black;
    z-index: 900;

    .xm-arrow {
      overflow: hidden;
      position: absolute;

      &:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 901;
      }
    }

    .xm-arrow-down {
      width: 70px;
      height: 16px;
      left: 50%;
      margin-left: -35px;
      bottom: -16px;

      &:after {
        left: 20px;
        top: -20px;
      }
    }

    .xm-arrow-up {
      width: 70px;
      height: 16px;
      left: 50%;
      margin-left: -35px;
      top: -16px;

      &:after {
        left: 20px;
        bottom: -20px;
      }
    }

    .xm-arrow-left {
      width: 16px;
      height: 70px;
      top: 50%;
      margin-top: -35px;
      left: -15.5px;

      &:after {
        right: -22px;
        top: 20px;
      }
    }

    .xm-arrow-right {
      width: 16px;
      height: 70px;
      top: 50%;
      margin-top: -35px;
      right: -15.5px;

      &:after {
        left: -22px;
        top: 20px;
      }
    }
  }
}
