////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin webcabinet-base-unitview {

  .UV {

    .root-L {
      min-width: 100%;
    }

    .head-L {
      width: 100%;
      padding: 0px;

      .title-L {
        width: 100%;
        padding: 0px 5px;
        background: lighten($xv-bg-color, 50%);
        color: $xv-bg-color;
        line-height: 24px; // 41-5-5;
        border-bottom: solid 1px #c0c0d0;
        height: 34px;

        .v-slot {
          vertical-align: middle;
        }
        .title-label {
          //width: 100%;
          font-size: 18px;
          font-weight: bold;
          vertical-align: middle;
          line-height: 34px;
        }

        .v-slot-info-label {
          float: right;
          margin: 8px 0px;

          .info-label {
            //font-size: 14px;
            //vertical-align: middle;
            background: #8080A0;
            color: white;
            border-radius: 3px;
            float: right;
            font-size: 12px;
            font-weight: normal;
            line-height: 16px;
            height: 16px;
            vertical-align: middle;
            padding: 0px 3px;
          }
        }

        .v-slot-update-button, .v-slot-report-button {
          float: right;
          margin: 5px 0px;
        }
        .update-button, .report-button {
          //vertical-align: middle;
          margin-left: 5px;
          padding: 0px 2px;
          font-size: 13px;
          line-height: 22px;
          height: 24px;
          width: 24px;
        }
      }

      .params-L {
        width: 100%;
        border-bottom: solid 1px #C0C0D0;
        background: lighten($xv-bg-color, 58%);
        font-weight: normal;
        font-size: 14px;

        .params-button {
          margin: 2px 5px 2px 2px;
          padding: 0px 3px;
          height: 22px;
          width: 22px;
          line-height: 22px;

          span {
            //color: #2040B0;
            font-weight: bold;
          }
        }

        .params-label {
          line-height: 26px;
          color: $xv-bg-color;
        }

        .datesrange {
          font-weight: normal;
          font-size: 14px;

          b {
            font-weight: bold;
          }
        }
      }

      .toolbar-L {
        width: 100%;
        padding: 5px;
        //background: lightgoldenrodyellow;

        .v-horizontallayout {
          padding: 0 5px 0 0;
          vertical-align: bottom;

          .v-spacing {
            width: 5px;
          }
        }

        .buttons-L {
          padding-top: 5px;
          //padding-bottom: 5px;
        }

        .v-caption {
          color: lighten($xv-bg-color, 10%);
          font-size: 12px;
          padding: 0px;
          vertical-align: bottom;
        }

        .v-datefield, .v-filterselect {
          width: 130px;
        }
      }
    }

    .body-L {
      min-width: 100%;
      padding: 5px;
      vertical-align: middle;

      .hhh {
        font-weight: bold;
        color: lighten($xv-bg-color, 20%);
      }

      .v-slot-hhh2 {
        background: #F4F4F8;
        margin: 0px -5px 5px -5px;
        border-top: double 3px #D8D8E8;
        border-bottom: solid 1px #C0C0D0;

        .hhh2 {
          min-width: 100%;
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          color: $xv-bg-color;
        }
      }

      .datesrange {
        font-weight: normal;
        font-size: 14px;

        b {
          font-weight: bold;
        }
      }

      .star {
        color: #FF4000;
      }

      .neg {
        color: #E02020;
      }

      .v-grid-tablewrapper {
        position: relative;
      }
      .v-grid-cell-focused:before {
        display: none !important;
      }

      .summary {
        font-weight: bold;
        .right {
          text-align: right;
        }
        .left {
          text-align: left;
        }
      }

      .v-slot-note {
        line-height: 21px;
      }
      .note {
        vertical-align: middle;
        line-height: 100%;
        font-size: 13px;
        color: lighten($xv-bg-color, 20%);
      }
    }
  }
}
