////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin webcabinet-information-unitview {

  .information-UV {

    .body-L {
      max-width: 682px;
      padding: 5px;

      > .v-slot {
        border: valo-border($border: $v-border, $strength: 0.5);
        border-radius: 5px;
        background: white;
      }

      .info-L, .contract-L, .acc-L {
        width: 100%;
        padding: 5px;
      }

      .v-slot-info-L, .v-slot-contract-L {
        margin-bottom: 5px;
      }

      .contract-L {
        .contracts-table {
          .v-grid-tablewrapper {
            position: relative;
          }
          .v-grid-cell-focused:before {
            display: none !important;
          }
        }
      }

      .acc-L {
        .accs-table {
          .v-grid-cell-focused:before {
            display: none !important;
          }
        }
        .v-slot-accs-table {
          padding-bottom: 5px;
        }

        .fixdate {
          font-weight: bold;
        }
      }

      .expired-future > .v-grid-cell {
        //background-color: #efefff;
        color: #7070A0;
      }
      .expired-future.v-grid-row-stripe > .v-grid-cell {
        //background-color: #e0e0f0;
      }
      .expired-no > .v-grid-cell {
        //background-color: #efffef;
      }
      .expired-no.v-grid-row-stripe > .v-grid-cell {
        //background-color: #e0f0e0;
      }
      .expired-yes > .v-grid-cell {
        //background-color: #ffefef;
        color: #A03030;
      }
      .expired-yes.v-grid-row-stripe > .v-grid-cell {
        //background-color: #f0e0e0;
      }
    }
  }
}
